# for server compatibility

-e git+https://github.com/birkin/rfc822py3.git@633cceba077075afa4d36b939fff547888a6b11e#egg=rfc822py3
-e git+https://github.com/birkin/shellvars-py.git@a9208f837c819fec6291b6e2b36aae6d6fb2c59d#egg=shellvars_py
